<div class="container">
  
  <div id="users-container">
    <%= render 'users_table_list' %>
  </div>
</div>

<script type="text/javascript">
$(function(){
  var users_view = new APP_ADMIN.users();
  users_view.render();
});
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
