th.actions {
  width: 210px;
}

#admin_layout {
  header { background: none; margin: 0px; padding-bottom: 30px; height: auto;}
  .navbar-brand { color: white; }
  .actions { width: 130px;}
}

.admin_panel {
  li { list-style: none; }
}