@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
html {
  overflow-y: scroll;
}

/* typography */
h1 {
  font-family: 'Helvetica Neue';
  font-weight: 300;
}

p {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  margin-bottom: 0px;
}

.bold {
  font-weight: bold;
}

#alerts {
  position: fixed;
  top:0px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  text-align: center;
  z-index: 2000;
}

.alert { padding: 8px; }
.alert-dismissible .close { right: 0px; }
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* header */
header {
  background: image_url('banderines.png') no-repeat;
  background-position: -300px top;
  padding-top: 40px;
  height: 110px;
  margin-bottom: 60px;
  
  .avatar {
    border-radius: 50%;
  }
  
  h1 {
    margin-top: 0px;
    text-align: center;
    .text {
      position: relative;
      width: 100%;
      overflow: visible;
      small {
        position: absolute;
        top: 42px;
        left: 0px;
        text-align: left;
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
  
  #blog_link {
    margin-right: 10px;
    color: #943AC7;
  }
}

#user_nav {
  position: absolute;
  top: 50px;
  right: 100px;
  line-height: 55px;
  .user_name {
    color: black;
    &:hover { 
      text-decoration: none;
      color: #888;
    }
  }
}


/* FORMS */
form {
  #error_explanation {
    margin-bottom: 20px;
    display: none;
  }
    
  .errors li {
    color: #D44950;
    list-style: none;
  }
}

/* MODAL */
#signin_modal {
  text-align: center;
  p { 
    margin-bottom: 20px;
  }
}


/* ---- ESTRUCTURA ---- */
.margin-bottom-10 { margin-bottom: 10px; }