/* PRODUCTS */
#products, #user_profile {
  width: 95%;
  margin: auto;
  aside {
    .about {
      font-size: 1.3em;
      width: 90%;
      p { margin-bottom: 20px; }
    }
    .search {
      width: 90%;
      margin-bottom: 30px;
    }
    #btn_new_product {
      background: #8cc59e;
      border-width: 0;
      font-size: 1.3em;
      width: 90%;
      margin: auto;
      margin-bottom: 45px;
      width: 90%;
      padding: 10px;
      &:hover {
        background-color: #7bb48c;
      };
    }
  }
  
  .list, .user_profile_products {
    .media {
      margin-bottom: 10px;
    
      .left {
        position: relative;
        text-align: center;
        
        .avatar {
          position: absolute;
          top: 32px;
          left: 0px;
        }
      }
    }
    .media-heading {
      color: black;
      font-size: 1.2em;
      &:visited {
        color: #53006C;
      }
    } 
    .media-body {
      padding-top: 5px;
    }
    
    .initial {
      position: relative;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 13px;
      color: white;
      text-align: center;
      font-size: 1.2em;
      .tweet_link {
        position: absolute;
        display: none; 
        left: 10px;
        top: 10px;
        height: 34px;
        width: 30px;
      }
      &:hover {
        background: #FFF !important;
        border: 1px solid #999;
        .tweet_link { display: block }
      }
    }
    
    .like {
      color: #777777;
      &.highlight {
        color: #428bca;
        font-weight: bold;
      }
    }
  }
  .filter {
    margin-bottom: 20px;
    .filter_by { line-height: 20px; }
    a {
      line-height: 20px;
      vertical-align: middle;
    }
  }
}

.about {
  p {
    color: #777;
  }
  
  .twitter-follow-button {
    margin-top: 50px;
  }
}

#loading_products {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #eee;
  padding: 20px 0px;
  text-align: center;
  color: #777;
  width: 100%;
  background: white;
}

/* ---- SHOW ---- */
#show_product {
  min-height: 160px;
  .initial {
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 13px;
    color: white;
    text-align: center;
    font-size: 1.2em;
    .tweet_link {
      position: absolute;
      display: none; 
      left: 10px;
      top: 10px;
      height: 34px;
      width: 30px;
    }
  }
  
  .media-heading {
    color: black;
    font-size: 1.2em;
    display: inline-block;
    margin: 3px 0 0 0;
  } 
  
  .media-body {
    small {
      display: block;
    }
  }
  
  .media {
    margin-bottom: 20px;
  }
  
  .right {
    margin-top: 3px;
  }
  
  .like.highlight {
    font-weight: bold;
  }
  
  .votes {
    display: inline-block;
    width: 400px;
    li { padding-right: 0; }
  }
}

.all_votes {
  margin-top: 20px;
}

.product_comments {
  padding-top: 20px;
  padding-left: 0;

  .comment {
    margin-bottom: 20px
  }

  p {
    font-size: 0.9em
  }
}

/* ---- ANIMATIONS ---- */

.spin {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/jmDLxx */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(-0.83556, 0.55753, 0, 0, -0.70473, -0.71579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.83556, 0.55753, 0, 0, -0.70473, -0.71579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(-0.18082, -0.9903, 0, 0, 0.92286, -0.40213, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.18082, -0.9903, 0, 0, 0.92286, -0.40213, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(0.89306, -0.46059, 0, 0, 0.62602, 0.78601, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.89306, -0.46059, 0, 0, 0.62602, 0.78601, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(0.98279, 0.19705, 0, 0, -0.06113, 1.00048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98279, 0.19705, 0, 0, -0.06113, 1.00048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(0.90015, 0.43738, 0, 0, -0.3646, 0.93201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.90015, 0.43738, 0, 0, -0.3646, 0.93201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(0.89496, 0.44652, 0, 0, -0.4141, 0.91041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.89496, 0.44652, 0, 0, -0.4141, 0.91041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(0.93499, 0.3547, 0, 0, -0.34678, 0.93796, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93499, 0.3547, 0, 0, -0.34678, 0.93796, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.97229, 0.23378, 0, 0, -0.23926, 0.97096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97229, 0.23378, 0, 0, -0.23926, 0.97096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(0.99205, 0.12595, 0, 0, -0.13648, 0.99066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99205, 0.12595, 0, 0, -0.13648, 0.99066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(0.99881, 0.04896, 0, 0, -0.05937, 0.99825, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99881, 0.04896, 0, 0, -0.05937, 0.99825, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(1, 0.00356, 0, 0, -0.01154, 0.99994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00356, 0, 0, -0.01154, 0.99994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.99985, -0.01741, 0, 0, 0.01233, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99985, -0.01741, 0, 0, 0.01233, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.99974, -0.02277, 0, 0, 0.02013, 0.9998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99974, -0.02277, 0, 0, 0.02013, 0.9998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.9998, -0.02, 0, 0, 0.01903, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9998, -0.02, 0, 0, 0.01903, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(0.9999, -0.01423, 0, 0, 0.01423, 0.9999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9999, -0.01423, 0, 0, 0.01423, 0.9999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(0.99996, -0.00845, 0, 0, 0.00888, 0.99996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99996, -0.00845, 0, 0, 0.00888, 0.99996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(0.99999, -0.00397, 0, 0, 0.00449, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99999, -0.00397, 0, 0, 0.00449, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1, -0.00108, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.00108, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1, 0.00045, 0, 0, -0.00014, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00045, 0, 0, -0.00014, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1, 0.00102, 0, 0, -0.00084, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00102, 0, 0, -0.00084, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(1, 0.00105, 0, 0, -0.00097, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00105, 0, 0, -0.00097, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(1, 0.00082, 0, 0, -0.0008, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00082, 0, 0, -0.0008, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(1, 0.00053, 0, 0, -0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00053, 0, 0, -0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(1, 0.00029, 0, 0, -0.00031, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00029, 0, 0, -0.00031, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1, 0.00011, 0, 0, -0.00013, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00011, 0, 0, -0.00013, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1, 0.00001, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00001, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(1, -0.00004, 0, 0, 0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.00004, 0, 0, 0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(-0.83556, 0.55753, 0, 0, -0.70473, -0.71579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.83556, 0.55753, 0, 0, -0.70473, -0.71579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(-0.18082, -0.9903, 0, 0, 0.92286, -0.40213, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.18082, -0.9903, 0, 0, 0.92286, -0.40213, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(0.89306, -0.46059, 0, 0, 0.62602, 0.78601, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.89306, -0.46059, 0, 0, 0.62602, 0.78601, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(0.98279, 0.19705, 0, 0, -0.06113, 1.00048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98279, 0.19705, 0, 0, -0.06113, 1.00048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(0.90015, 0.43738, 0, 0, -0.3646, 0.93201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.90015, 0.43738, 0, 0, -0.3646, 0.93201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(0.89496, 0.44652, 0, 0, -0.4141, 0.91041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.89496, 0.44652, 0, 0, -0.4141, 0.91041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(0.93499, 0.3547, 0, 0, -0.34678, 0.93796, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93499, 0.3547, 0, 0, -0.34678, 0.93796, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.97229, 0.23378, 0, 0, -0.23926, 0.97096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97229, 0.23378, 0, 0, -0.23926, 0.97096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(0.99205, 0.12595, 0, 0, -0.13648, 0.99066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99205, 0.12595, 0, 0, -0.13648, 0.99066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(0.99881, 0.04896, 0, 0, -0.05937, 0.99825, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99881, 0.04896, 0, 0, -0.05937, 0.99825, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(1, 0.00356, 0, 0, -0.01154, 0.99994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00356, 0, 0, -0.01154, 0.99994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.99985, -0.01741, 0, 0, 0.01233, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99985, -0.01741, 0, 0, 0.01233, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.99974, -0.02277, 0, 0, 0.02013, 0.9998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99974, -0.02277, 0, 0, 0.02013, 0.9998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.9998, -0.02, 0, 0, 0.01903, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9998, -0.02, 0, 0, 0.01903, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(0.9999, -0.01423, 0, 0, 0.01423, 0.9999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9999, -0.01423, 0, 0, 0.01423, 0.9999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(0.99996, -0.00845, 0, 0, 0.00888, 0.99996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99996, -0.00845, 0, 0, 0.00888, 0.99996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(0.99999, -0.00397, 0, 0, 0.00449, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99999, -0.00397, 0, 0, 0.00449, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1, -0.00108, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.00108, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1, 0.00045, 0, 0, -0.00014, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00045, 0, 0, -0.00014, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1, 0.00102, 0, 0, -0.00084, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00102, 0, 0, -0.00084, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(1, 0.00105, 0, 0, -0.00097, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00105, 0, 0, -0.00097, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(1, 0.00082, 0, 0, -0.0008, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00082, 0, 0, -0.0008, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(1, 0.00053, 0, 0, -0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00053, 0, 0, -0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(1, 0.00029, 0, 0, -0.00031, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00029, 0, 0, -0.00031, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1, 0.00011, 0, 0, -0.00013, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00011, 0, 0, -0.00013, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1, 0.00001, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.00001, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(1, -0.00004, 0, 0, 0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.00004, 0, 0, 0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}


