#user_profile {
  width: 600px;
  margin: auto;
  
  h4 { 
    text-transform: uppercase;
    color: #888;
    font-size: 25px;
    font-weight: 300;
  }
 
  ul {
    margin: 0;
    padding: 0;
  }
  
  .votes {
    margin-top: 50px;
  }
}